/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        MACRO_CAD_M: CAD_MOVE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp SPACE>;
            label = "CAD_MOVE";
        };

        MACRO_CAD_RO: CAD_ROTATE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp O &kp SPACE>;
            label = "CAD_ROTATE";
        };

        MACRO_CAD_DIM: CAD_DIM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp L &kp I &kp SPACE>;
            label = "CAD_DIM";
        };

        MACRO_CAD_DIMC: CAD_DIMCONTINUE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp C &kp O &kp SPACE>;
            label = "CAD_DIMCONTINUE";
        };

        MACRO_CAD_LEDER: CAD_QLEDER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp E &kp SPACE>;
            label = "CAD_QLEDER";
        };

        MACRO_CAD_LISO: CAD_LAYISO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp A &kp Y &kp I &kp S &kp O &kp SPACE>;
            label = "CAD_LAYISO";
        };

        MACRO_CAD_LON: CAD_LAYON {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp A &kp Y &kp O &kp N &kp SPACE>;
            label = "CAD_LAYON";
        };

        MACRO_CAD_XL_V: CAD_XLV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp L &kp SPACE &kp V &kp SPACE>;
            label = "CAD_XLV";
        };

        MACRO_CAD_XL_H: CAD_XLH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp L &kp SPACE &kp H &kp SPACE>;
            label = "CAD_XLH";
        };

        MACRO_CAD_AGN: CAD_ALIGN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp L &kp SPACE>;
            label = "CAD_ALIGN";
        };

        MACRO_CAD_TRIM: CAD_TRIM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp R &kp SPACE>;
            label = "CAD_TRIM";
        };

        MACRO_CAD_MA: CAD_MATCH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp SPACE>;
            label = "CAD_MATCH";
        };

        MACRO_CAD_ROTPC: CAD_LISP_ROTPC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp O &kp T &kp P &kp C &kp SPACE>;
            label = "CAD_LISP_ROTPC";
        };

        MACRO_CAD_FIND: CAD_LISP_STBS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp T &kp B &kp S &kp SPACE>;
            label = "CAD_LISP_STBS";
        };

        MACRO_CAD_TAXY: CAD_LISP_TEXTALGINXY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp A &kp X &kp Y &kp SPACE>;
            label = "CAD_LISP_TEXTALGINXY";
        };

        MACRO_CAD_TD50X: CAD_LISP_TEXTDIS50X {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp D &kp NUMBER_5 &kp NUMBER_0 &kp X &kp SPACE>;
            label = "CAD_LISP_TEXTDIS50X";
        };

        MACRO_CAD_TD50Y: CAD_LISP_TEXTDIS50Y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp D &kp NUMBER_5 &kp NUMBER_0 &kp Y &kp SPACE>;
            label = "CAD_LISP_TEXTDIS50Y";
        };

        MACRO_CAD_COPY: CAD_COPY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp SPACE>;
            label = "CAD_COPY";
        };

        MACRO_CAD_MIRRO: CAD_MIRRO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp I &kp SPACE>;
            label = "CAD_MIRRO";
        };

        MACRO_CAD_UNDO: CAD_UNDO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp Z>;
            label = "CAD_UNDO";
        };

        MACRO_CAD_E: CAD_E_DELETE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp SPACE>;
            label = "CAD_E_DELETE";
        };

        MACRO_CAD_EX: CAD_EX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp SPACE>;
            label = "CAD_EX";
        };

        MACRO_CAD_DSP: CAD_DIMSPA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp I &kp M &kp S &kp P &kp SPACE>;
            label = "CAD_DIMSPA";
        };

        MACRO_CTRL_1: MACRO_CTRL_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp N1>;
            label = "MACRO_CTRL_1";
        };

        MACRO_CTRL_2: MACRO_CTRL_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp N2>;
            label = "MACRO_CTRL_2";
        };

        MACRO_CTRL_3: MACRO_CTRL_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp N3>;
            label = "MACRO_CTRL_3";
        };

        MACRO_CTRL_7: MACRO_CTRL_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp N7>;
            label = "MACRO_CTRL_7";
        };

        macro_line: macro_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp SPACE>;
            label = "MACRO_LINE";
        };

        macro_delsub: macro_delsub {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp E &kp D &kp S>;
            label = "MACRO_DELSUB";
        };

        macro_delgeo: macro_delgeo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp E &kp D &kp G>;
            label = "MACRO_DELGEO";
        };

        macro_lineam: macro_lineam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp I &kp L>;
            label = "MACRO_LINEAM";
        };

        macro_cricle: macro_cricle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp I &kp A>;
            label = "MACRO_CRICLE";
        };

        macro_textnew: macro_textnew {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp I &kp T>;
            label = "MACRO_TEXTNEW";
        };

        macro_symbol: macro_symbol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp I &kp Y>;
            label = "MACRO_SYMBOL";
        };

        macro_slide: macro_slide {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp T &kp I &kp S &kp SPACE>;
            label = "MACRO_SLIDE";
        };

        macro_dimline2: macro_dimline2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp D &kp L>;
            label = "MACRO_DIMLINE2";
        };

        macro_arrowam: macro_arrowam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp A &kp N>;
            label = "MACRO_ARROWAM";
        };

        macro_textmove: macro_textmove {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp M &kp I>;
            label = "MACRO_TEXTMOVE";
        };

        macro_symbolmove: macro_symbolmove {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp M &kp Y>;
            label = "MACRO_SYMBOLMOVE";
        };

        macro_arrowmove: macro_arrowmove {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp M &kp R>;
            label = "MACRO_ARROWMOVE";
        };

        macro_aggle: macro_aggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp D &kp A>;
            label = "MACRO_AGGLE";
        };

        macro_textcopy: macro_textcopy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp C &kp T>;
            label = "MACRO_TEXTCOPY";
        };

        macro_symbolcopy: macro_symbolcopy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp C &kp Y>;
            label = "MACRO_SYMBOLCOPY";
        };

        macro_geocopy: macro_geocopy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp C &kp G>;
            label = "MACRO_GEOCOPY";
        };

        macro_subcopy: macro_subcopy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp C &kp U>;
            label = "MACRO_SUBCOPY";
        };

        macro_movedim: macro_movedim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp D>;
            label = "MACRO_MOVEDIM";
        };

        macro_modicolor: macro_modicolor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp O>;
            label = "MACRO_MODICOLOR";
        };

        macro_linetype: macro_linetype {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp I>;
            label = "MACRO_LINETYPE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        KEYBOARD_layer {
            label = "KEY";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC   &kp N1  &kp N2    &kp N3    &kp N4      &kp N5                             &kp N6     &kp N7           &kp N8     &kp N9    &kp N0     &kp BACKSPACE
&kp TAB   &kp Q   &kp W     &kp E     &kp R       &kp T                              &kp Y      &kp U            &kp I      &kp O     &kp P      &kp CAPSLOCK
&kp CAPS  &kp A   &kp S     &kp D     &kp F       &kp G                              &kp H      &kp J            &kp K      &kp L     &kp SEMI   &kp SQT
&to 1     &kp Z   &kp X     &kp C     &kp V       &kp B      &to 0        &to 2      &kp N      &kp M            &kp COMMA  &kp DOT   &kp MINUS  &to 2
                  &kp LGUI  &kp LALT  &kp LSHIFT  &kp LCTRL  &kp SPACE    &kp SPACE  &kp ENTER  &kp RIGHT_SHIFT  &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>, <&inc_dec_kp UP DOWN>;
        };

        MACRO_LAYER {
            label = "CAD";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp TAB       &MACRO_CAD_TAXY  &MACRO_CAD_ROTPC  &MACRO_CAD_FIND   &macro_line      &MACRO_CAD_MIRRO                        &kp KP_NUMLOCK  &kp SLASH     &kp ASTERISK  &kp MINUS        &MACRO_CTRL_1  &MACRO_CTRL_2
&kp CAPSLOCK  &MACRO_CAD_XL_V  &MACRO_CAD_XL_H   &MACRO_CAD_E      &MACRO_CAD_EX    &MACRO_CAD_TRIM                         &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9  &kp PLUS         &MACRO_CTRL_3  &MACRO_CTRL_7
&to 0         &MACRO_CAD_AGN   &MACRO_CAD_MA     &MACRO_CAD_LEDER  &MACRO_CAD_DIMC  &MACRO_CAD_DIM                          &kp NUMBER_4    &kp NUMBER_5  &kp NUMBER_6  &kp DOT          &kp F2         &kp UNDER
&to 2         &MACRO_CAD_LISO  &MACRO_CAD_LON    &MACRO_CAD_COPY   &MACRO_CAD_RO    &MACRO_CAD_M      &to 0      &to 2      &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp COMMA        &kp BSLH       &to 2
                               &MACRO_CAD_DSP    &kp LCTRL         &kp SPACE        &kp LSHIFT        &kp ESC    &kp SPACE  &kp ENTER       &kp NUMBER_0  &kp RCTRL     &kp RIGHT_SHIFT
            >;

            sensor-bindings =
                <&inc_dec_kp LC(Z) LC(Y)>,
                <&inc_dec_kp LEFT RIGHT>;
        };

        Fkey_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            label = "marine";
            bindings = <
&kp ESC       &kp F4          &kp F5          &macro_arrowmove  &macro_symbolmove  &macro_textmove                            &kp KP_NUMLOCK   &kp SLASH        &kp ASTERISK     &kp MINUS        &macro_modicolor   &macro_linetype
&kp TAB       &macro_geocopy  &macro_subcopy  &macro_arrowmove  &macro_symbolcopy  &macro_textcopy                            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS         &kp SEMICOLON      &kp SQT
&kp CAPSLOCK  &macro_delgeo   &macro_delsub   &macro_arrowam    &macro_symbol      &macro_textnew                             &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp EXCLAMATION  &kp SLASH          &kp LEFT_BRACKET
&to 0         &kp A           &macro_movedim  &macro_aggle      &macro_dimline2    &kp ENTER        &to 0      &to 1          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp AT_SIGN      &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH
                              &macro_slide    &kp LCTRL         &kp SPACE          &kp LEFT_SHIFT   &kp ESC    &kp BACKSPACE  &kp ENTER        &kp KP_NUMBER_0  &kp DOT          &kp COMMA
            >;
        };
    };
};
